body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('https://tse3.mm.bing.net/th?id=OIP.sU5E0ecSs1aSUnBtHTRGagHaEK&pid=Api&P=0&h=180');
  background-size: cover;
  background-position: center;
}

.stopwatch {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8); 
  border-radius: 10px;
}

  
  .display {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .controls {
    margin-bottom: 20px;
  }
  
  .controls button {
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .laps {
    list-style-type: none;
    padding: 0;
  }
  
  .laps li {
    margin-bottom: 5px;
  }
  